.single {
  display: flex;
  gap: 50px;
  font-family: "HelveticaNeueW01-77BdCn 692722", Arial, sans-serif;
    
  .content{
    flex: 5;
    h1{
      margin-left: auto;
      margin-right: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      
    }
    img{
      display: flex;
      align-items: center;
      justify-content: center;
      width:500px;
      max-height:600px;
      object-fit: cover;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;

      }
    
      .edit{
      
        display: flex;
        align-items: center;
        flex-direction: row; /* Add this line to make them left to right */
        
       
        img{
          width: 20px;
          height: 20px;
          margin-left: 30vw;
          margin-right: -28vw;
          object-fit: cover;
          cursor:pointer;
        }
      }
      .info{
        margin-left: 25vw;
      }
      .body{
        font-size: 20px;
        margin-left: 20vw;
        margin-right: 80px;
        text-align: justify;
        line-height: 35px;
      }
    }
  .menu{
    flex:2;
    display: flex;
    flex-direction: column;
    font-family: "HelveticaNeueW01-77BdCn 692722", Arial, sans-serif;
    gap: 25px;
    h{
      font-weight: bold;
      font-size: 30px;
    }
    .post{
        img{

          width:280px;
          height: auto;
          object-fit: cover;
        }
        h2{
          font-size: 15px;
        }
           justify-content: center;
           align-items: center;
          
    }
      
  }
}  


//WRITE
.write{
  font-family: "HelveticaNeueW01-77BdCn 692722", Arial, sans-serif;
  margin-top: 20px;
  display: flex;
  gap: 20px;
  .content{
    flex:5;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    input{
      padding: 10px;
      border: 1px solid lightgray;
    }
    .EditorContainer{
      height: 300px;
      overflow: scroll;
      border: 1px solid lightgray;
      .editor{
        height: 100%;
        border: none;
      }
    }
  }
  .menu{
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 10px;
    .item{
      display: flex;
      flex-direction: column;
      flex:1;
      .upload{
        margin: 10px;
        &:hover{
          color:red;
          cursor:pointer;
        }
      }
    
      .buttons{
        button{
          border:none;
          cursor: pointer;
          padding:10px;
          color: gray;
          gap:10px;
          
      
        }
      }
    }
  
  }

}
.home {
    margin-left: 70px;
    
    margin-top: 40px;
    margin-right: 70px;
    font-family: "HelveticaNeueW01-77BdCn 692722", Arial, sans-serif;
  
    .posts {
      display: flex;
      flex-direction: column;
      font-family: "HelveticaNeueW01-77BdCn 692722", Arial, sans-serif;
  
      .post {
        display: flex;
        align-items: center;
        gap:70px;
        margin-bottom: 75px;
        
        &:nth-child(2n){
          flex-direction: row-reverse;
        }

        button{
            border:none;
            cursor: pointer;
            padding:10px;
            color: gray;
        }
  
        .img {
          margin-right: 20px;
          flex:1;
  
          img {
            max-width: 60dvw;
            max-height: 300px; /* Adjust the height as needed */
          }
        }
  
        .content {
            color:#383838;
            flex:2;
          .clickable {
            color: black;
            text-decoration: none;
            &:hover {
              color: red;
            }
          }
        }
      }
    }
  }



  //BLOG STYLE:

  .blog {
    margin-left: 70px;
    margin-top: 40px;
    margin-right: 70px;
    font-family: "HelveticaNeueW01-77BdCn 692722", Arial, sans-serif;
  
    .posts {
  
      font-family: "HelveticaNeueW01-77BdCn 692722", Arial, sans-serif;
  
      .post {
        display:flex;
        flex-direction:column;
        
        align-items: center;
        margin-bottom: 75px;

      
  
        .img {
          margin-right: 20px;
  
          img {
 
            max-height: 600px; /* Adjust the height as needed */
          }
        }
  
        .content {
          .clickable {
            color: black;
            text-decoration: none;
            &:hover {
              color: red;
            }
          }
        }
      }
    }
  }
  
.app{
    .container{
            .link{
                font-family: "Helvetica Narrow","HelveticaNeueW01-77BdCn 692722", Arial, sans-serif;
                text-decoration: none;
            }
            .textbox{
               font-family: "Helvetica Narrow","HelveticaNeueW01-77BdCn 692722", Arial, sans-serif;
                 
            }

            .auth {
             
                display:flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 100vh;
                h1{
                    font-family: "Helvetica Narrow","HelveticaNeueW01-77BdCn 692722", Arial, sans-serif;
                    font-size: 60px;
       
                }
                span{
                    font-size: 14px;
                    display:flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    
                }
                p{
                    font-size: 14px;
                    font-family: "Helvetica Narrow","HelveticaNeueW01-77BdCn 692722", Arial, sans-serif;
                    display:flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    color:red;
                }
                form{
                    font-family: "Helvetica Narrow","HelveticaNeueW01-77BdCn 692722", Arial, sans-serif;
                    display: flex;
                    flex-direction: column;
                    padding: 10px;
                    width: 200px;
                    gap:10px;
                    input{
                        font-family: "Helvetica Narrow","HelveticaNeueW01-77BdCn 692722", Arial, sans-serif;
                        padding:10px;
                        border:none;
                        border-bottom: 1px solid lightblue;
                     
                    }
                    button{
                        border:none;
                        cursor: pointer;
                        padding:10px;
                        color: gray;
            
                    }
                }

            }
    
            footer{
                display:flex;
                align-items: center;
                justify-content: center;
                gap: 50px;
                margin: 40px;
                img{

                    height:50px;
                    width: auto;
                }
            }
        }

}